.home{
    background-color: #c2d8d8;
}
.category-card{
    width:250px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease,
}
.category-card:hover{
    transform: scale(1.05);
}

@media (max-width: 768px){
    *{
        font-size: 80%;
        width: 100;
    }
    #about,.podcastReasons {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .listItemsStyling{
        width: fit-content;
    }
    .layer2ListStyling{
        width:100vw
    }
    .category-card {
        width: 200px;
    }
    .category-card h3{
        font-size: 0.5rem;
    }

    
}